# 2.1

In [1]:
# A
a = 1 + 2 + 3 + 4 + 5
print(a)

15

In [2]:
# B
a = (23 + 19 + 31) / 3
print(a)

24.333333333333332

In [3]:
# C
a = 403 // 73
print(a)

5

In [4]:
# D
a = 403 % 73
print(a)

38

In [7]:
# E
a = 2**10
print(a)

1024

In [6]:
# F
a = abs(54 - 57)
print(a)

3

In [8]:
# G
a = min(34.99 , 29.95 , 31.5)
print(a)

29.95

# 2.2

In [10]:
# A
a = 2+2 < 4
print (a)

False

In [11]:
# B
a = (7 // 3) == 1 + 1
print (a)

True

In [13]:
# C
a = 3**2 + 4**2 == 25
print (a)

True

In [14]:
# D
a = ( 2 + 4 + 6)>12 
print(a)

False

In [105]:
# E
a = 1387 % 19 == 0
print(a)

True

In [16]:
# F
a = 31 % 2 == 0
print(a)

False

In [17]:
# G
a = min(34.99 , 29.95 , 31.5) < 30.00
print(a)

True

# 2.3

In [18]:
a = 3 
b = 4
c = a*a + b*b
print(c)

25

# 2.4

In [31]:
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'

# A
print(s1 +" "+ s2 +" "+ s3)

# B
print (10*(s1 + " "))

# C
print(s1 +" " + 2*(s2+" ") + 3*(s3+" "))

# D
print(7 * (s1 + " " + s2 + " "))

# E
print(5 * (2*s2 + s3 + " "))

ant bat cod
ant ant ant ant ant ant ant ant ant ant
ant bat bat cod cod cod
ant bat ant bat ant bat ant bat ant bat ant bat ant bat
batbatcod batbatcod batbatcod batbatcod batbatcod

# 2.5

In [32]:
s = '0123456789'

# A
print(s[0])

# B
print(s[1])

# C
print(s[6])

# D
print(s[8])

# E
print(s[9])

0
1
6
8
9

# 2.6

In [33]:
words = ['bat' , 'ball' , 'barn' , 'basket' , 'badminton']

# A
print (min (words))

# B
print (max (words))

badminton
bat

# 2.7

In [42]:
grades = [9,7,7,10,3,9,6,6,2]

# A
print(grades.count(7))

# B
grades[-1]=4
print(grades)

# C
print(max(grades))

# D
grades.sort()
print(grades)

# E 
print(sum(grades) / len(grades))

2
[9, 7, 7, 10, 3, 9, 6, 6, 4]
10
[3, 4, 6, 6, 7, 7, 9, 9, 10]
6.777777777777778

# 2.8

In [47]:
# A
print('((2+3)==4) or (a>=5)')
# B
print("(((lst[1])*(-3)<(-10))) == 0")
# C
print("(((lst[1])*(-3)<(-10))) in[0 ,True]")
# D
print("2*(3**2)")      
# E
print ("(4/2) in [1,2,3]")

((2+3)==4) or (a>=5)
(((lst[1])*(-3)<(-10))) == 0
(((lst[1])*(-3)<(-10))) in[0 ,True]
2*(3**2)
(4/2) in [1,2,3]

# 2.9

In [53]:
# A
a = False + False
print (type(a))
# B 
b = 2* (3**2.0)
print(type(b))
# C
c = 4 // 2 + 4 % 2
print(type(c))
# D
d = 2 + 3 == 4 or 5 >= 5
print(type(d))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>

# 2.10

In [54]:
from math import sqrt, pi
a = 5
b = 6
x = 7
y = 9
r = 2
#A
print(sqrt(a**2 + b**2))

#B
print(sqrt(a**2 + b**2) == 5)

#C
print(pi * a**2)

#D
print((x-a)**2 + (y-b)**2 < r**2)

7.810249675906654
False
78.53981633974483
False

# 2.11

In [63]:
# A
lst=[-1,-2,-3,-4,-5,-6,-7]
print("Sum :",sum(lst))

# B
total_kids = 17 + 24 + 21 + 27
age = (17*9) + (24*10) + (21*11) + (27*12)
print(age / total_kids)

# C
print("2 to power -20 :",2**-20)

# D
a = 4536
b = 61
divide = a // b
print("Number of times:",divide)

# E
x = 4365
y = 61
print("Remainder:",a % b)

Sum : -28
10.651685393258427
2 to power -20 : 9.5367431640625e-07
Number of times: 74
Remainder: 22

# 2.12

In [70]:
s1 = '-'
s2 = '+'
# A
print(s1+s2)

# B
print(s1+s2+s1)

# C
print(s2 + (s1*2))

# D
print(s2 + (s1*2) + s2 +(s1*2))

# E
print((s2 + (s1*2))*10 +s2)

# F
print((s2 + s1 + (s2*3) + (s1*2))*5)

-+
-+-
+--
+--+--
+--+--+--+--+--+--+--+--+--+--+
+--+--+--+--+--+--+--+--+--+--+
+-+++--+-+++--+-+++--+-+++--+-+++--

# 2.13

In [72]:
s = 'abcdefghijklmnopqrstuvwxyz'

# A
print(s[0])

# B
print(s[2])

# C
print(s[25])

# D      
print(s[24])
      
# E
print(s[16])

a
c
z
y
q

# 2.14

In [78]:
s = 'goodbye'

# A
print(s[0] == 'g')

# B
print(s[6] == 'g')

# C
print(s[0] == 'g' and s[1] == 'a')

# D
print(s[-5] == 'x')


# E
print(s[3] == 'd')

# F
print(s[0] == s[6])

# G
print(s[3:7] == 'tion')

True
False
False
False
True
False
False

# 2.15

In [87]:
# A
a = len("anachronistically")
b = len("counterintuitive")

if a > b:
    print("anachronistically")
else:
    print("counterintuitive")

# B
words = ['misrepresentation' , 'misinterpretation']
a = words.sort()
print(words)

# C
c = "floccinaucinihilipilification"
to_find = "e"
if to_find in c:
    print("Found")
else:
    print("Not found")

# D
A = len("counterrevolution")
B = len("Counter")
C = len("Resolution")
total_sum = B + C
if A == total_sum:
    print("Yes, They are equal")
else:
    print("No, They are not equal")

anachronistically
['misinterpretation', 'misrepresentation']
Not found
Yes, They are equal

# 2.16

In [90]:
# A
a = 6
b = 7

# B
c =(a + b) / 2
print (c)

# C
orignal_list = ['paper','staples','pencils']
inventory = list(orignal_list)
print(inventory)

# D
first = str('John')
middle = str('Fitzgerald')
last = str('Kenndy')

# E
fullname = str(first + " " + middle + " " + last)
print(fullname)

6.5
['paper', 'staples', 'pencils']
John Fitzgerald Kenndy

# 2.17

In [104]:
a = 6
b = 7
c = float(a+b) / 2
inventory = ['paper ', 'staples ', 'pencils ']
first = str('John')
middle = str('Fitzgerald')
last = str('Kennedy')
fullname = (first + " " + middle + " " + last)

# A
print(17-9 < 10)

# B
print(len(inventory) > len(5 * fullname))

# C
print(c != 24)

# D
print(a <= 6.75 >= b)

# E 
print(len(middle) > len(first) and len(middle) < len(first))

# F
print(inventory == 0 or inventory != 10)

True
False
True
False
False
True

# 2.18

In [106]:
# A
flowers = ['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'lilly of the valley', ]

# B
find = 'potato'
if find in flowers:
    print(bool('True'))

# C
thorny = flowers[0:2]
print(thorny)

# D
poisonous = flowers[-1].split()
print(poisonous)

# E
dangerous = thorny + poisonous
print(dangerous)

['rose', 'bougainvillea']
['lilly', 'of', 'the', 'valley']
['rose', 'bougainvillea', 'lilly', 'of', 'the', 'valley']

# 2.19

In [108]:
answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N']

# A
numYes = answers.count('Y')
print(numYes)
# B
numNo = answers.count('N')
print(numNo)

# C
percentYes = (answers.count('Y') / len(answers)) * 100
print(percentYes,'%')

# D
answers.sort()
print(answers)

# E
f = answers.index('Y')
print(f)

5
6
45.45454545454545 %
['N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y']
6

# 2.20

In [109]:
s1 = 'car'
s2 = s1[::-1]
print(s2)

rac

# 2.21

In [111]:
s = 'Ubaid'
t = 'Ali'
print(str(t[0:1]) + str(s[0:1]))

AU

# 2.22

In [113]:
lst = [22, 54, 9, 24, -86, 25, 16]
x = 25 - 16
print(x)

9

# 2.23

In [114]:
# A
monthL = ['jan','feb','mar','may']
monthT = ('jan','feb','mar','may')


monthL.insert(3, 'apr')
print(monthL)
monthT.insert(3, 'apr')
print(monthT)

['jan', 'feb', 'mar', 'apr', 'may']

AttributeError: 'tuple' object has no attribute 'insert'

In [115]:
# B
monthL = ['jan','feb','mar','may']
monthT = ('jan','feb','mar','may')

monthL.append('jun')
print(monthL)
monthT.append('jun')
print(monthT)

['jan', 'feb', 'mar', 'may', 'jun']

AttributeError: 'tuple' object has no attribute 'append'

In [116]:
# C
monthL = ['jan','feb','mar','may']
monthT = ('jan','feb','mar','may')


monthL.pop()
print(monthL)
monthT.pop()
print(monthT)

['jan', 'feb', 'mar']

AttributeError: 'tuple' object has no attribute 'pop'

In [117]:
# D
monthL = ['jan','feb','mar','may']
monthT = ('jan','feb','mar','may')


monthL.remove('feb')
print(monthL)
monthT.remove('feb')
print(monthT)

['jan', 'mar', 'may']

AttributeError: 'tuple' object has no attribute 'remove'

In [118]:
# E
monthL = ['jan','feb','mar','may']
monthT = ('jan','feb','mar','may')


monthL.sort(reverse = True)
print(monthL)
monthT.sort(reverse = True)
print(monthT)

['may', 'mar', 'jan', 'feb']

AttributeError: 'tuple' object has no attribute 'sort'

In [119]:
# F
monthL = ['jan','feb','mar','may']
monthT = ('jan','feb','mar','may')


monthL.sort()
print(monthL)
monthT.sort()
print(monthT)

['feb', 'jan', 'mar', 'may']

AttributeError: 'tuple' object has no attribute 'sort'

# 2.24

In [120]:
grades = ['B' , 'A' , 'D' , 'C' , 'B' , 'A' , 'B' , 'D' , 'F' , 'D' , 'A' , 'C' , 'B' , 'C' , 'E']

count = [grades.count('A'), grades.count('B'), grades.count('C'), grades.count('D'), grades.count('E'), grades.count('F')]
print(count)

[3, 4, 3, 3, 1, 1]

# 2.25

In [121]:
grades = ('B' , 'A' , 'D' , 'C' , 'B' , 'A' , 'B' , 'D' , 'F' , 'D' , 'A' , 'C' , 'B' , 'C' , 'E')

count = [grades.count('A'), grades.count('B'), grades.count('C'), grades.count('D'), grades.count('E'), grades.count('F')]
print(count)

[3, 4, 3, 3, 1, 1]

# 2.26

In [123]:
# A
x = 0
y = 0
if x <= 10 and y <=10 :
    print ("True")
else: 
    print ("False")
    
    
# B
x = 10
y = 10
if x <= 10 and y <=10 :
    print ("True")
else: 
    print ("False")
    
    
# C
x = 6
y = -6
if x <= 10 and y <=10 :
    print ("True")
else: 
    print ("False")    
    
    
# D
x = -7
y = 8
if x <= 10 and y <=10 :
    print ("True")
else: 
    print ("False")

True
True
True
True

# 2.27

In [128]:
from math import pi
from math import sin

# For 16 feet and 75 degrees
length_1 = 16
degree_1 = 75
radian_1 = (pi * degree_1)/180
height_1 = length_1 * sin(radian_1)
print (height_1 , "meters")

# For 20 feet and 0 degrees
length_2 = 20
degree_2 = 0
radian_2 = (pi * degree_2)/180
height_2 = length_2 * sin(radian_2)
print (height_2,"meters")

# For 24 feet and 45 degrees
length_3 = 24
degree_3 = 45
radian_3 = (pi * degree_3)/180
height_3 = length_3 * sin(radian_3)
print (height_3,"meters")

# For 24 feet and 80 degrees
length_4 = 24
degree_4 = 80
radian_4 = (pi * degree_4)/180
height_4 = length_4 * sin(radian_4)
print (height_4,"meters")

15.454813220625093 meters
0.0 meters
16.970562748477143 meters
23.63538607229299 meters

# 2.28

In [129]:
lst = [78, 54, 9, 24, 85, 37, 45, 65]
print(lst)

#PART A
list_length = len(lst)
mid_index = (list_length) /2
print (mid_index)

#PART B
print ("Middle value is : "+ str(lst[4]) )

#PART C
lst.sort(reverse = True)
print(lst)

#PART D
lst.remove(78)
print(lst)

lst.extend([78])
print(lst)

[78, 54, 9, 24, 85, 37, 45, 65]
4.0
Middle value is : 85
[85, 78, 65, 54, 45, 37, 24, 9]
[85, 65, 54, 45, 37, 24, 9]
[85, 65, 54, 45, 37, 24, 9, 78]

# 2.29

In [132]:
#A
print (0 == (1 == 2))   #Since false = 0

# B
print(2 + (3 == 4) + 5 == 7) #Because 3 == 4 is false, term becomes(2+0+5==7)

# C
print((1 < -1) == (3 > 4)) #Since both are False

True
True
True

# 2.30

In [135]:
string = 'One down two more assignments to go and its already 4:50 AM.'
print('Conversion in list:',string.split())

 #split function helps us in coverting a string into a list, it produces a list by taking substrings from string 'string'

Conversion in list: ['One', 'down', 'two', 'more', 'assignments', 'to', 'go', 'and', 'its', 'already', '4:50', 'AM.']

# 2.31

In [136]:
lst = [2, 3, 4]
lst.extend ([5, 6]) 
print(lst)
#lst.extend() adds value at the end of the list 

lst2 = lst.copy() 
print(lst2)
# lst.copy() copies the list and stores it in a temporary variable

lst.clear()
print(lst)
#lst.clear() deletes everything present in the list

[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[]